

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.title{
    color: white;
    background-color: #33BEBE;
    padding-top: 25px;
    padding-left: 15px;
}

.content{
    display: -webkit-flex;
    display: flex;
}


.image > img{
    width: 200px;
}
